.qna {
    margin-bottom: 100px;
    height: calc(100vh - 100px);
    width: 100%;
    flex-basis: 82%;
}

.qna .qna1 {
    width: 85%;
    height: 80%;
    margin: auto;
    margin-top: 3.5vw;
    box-sizing: border-box;
    padding-top: 40px;
}

.qna .qna1 h1 {
    font-size: 2vw;
    font-weight: 900;
}

.qna .faqContainer {
    margin-top: 20px;
}

.qna .faqContainer .faq {
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin-top: 2.3vw;
}

.qna .faqContainer .faqTitle {
    align-items: center;
    cursor: pointer;
    margin: 0;
}

.qna .faqContainer .faqText {
    margin-top: 10px;
    padding-top: 1vw;
}

.qna .faqContainer .faqToggle {
    background: none;
    border: none;
    cursor: pointer;
}

.qna .faqContainer .fas {
    font-size: 16px;
}

.qna .faqContainer .active .faqText {
    display: block;
}

@media screen and (max-width: 768px) {
    .qna {
        margin: 0;
        height: calc(100vh - 171px);
        display: inline-block;
        padding-top: 7vh;
    }

    .qna .qna1 {
        width: 95%;
        margin-top: 10vw;
        padding-top: 20px;
    }

    .qna .qna1 h1 {
        font-size: 4vw;
    }

    .qna .faqContainer {
        margin-top: 10px;
    }

    .qna .faqContainer .faq {
        margin-bottom: 5px;
        padding: 5px;
        margin-top: 4vw;
    }

    .qna .faqContainer .faqText {
        margin-top: 5px;
        padding-top: 2vw;
    }

    .qna .faqContainer .fas {
        font-size: 12px;
    }
}
