.support {
    margin-bottom: 100px;
    height: calc(100vh - 100px);
    width: 100%;
    flex-basis: 82%;
}

.support .support1 {
    width: 85%;
    height: 80%;
    margin: auto;
    margin-top: 3.5vw;
    box-sizing: border-box;
    padding-top: 40px;
}

.support .support1 h1 {
    font-size: 2vw;
    font-weight: 900;
}

.support .support1 p {
    color: #ddd;
    margin-top: 2vw;
}

.support .support1 p button {
    border: none;
    background-color: #ececec;
    border-radius: 15px;
    padding: 0.4vw;
    font-size: 0.9vw;
    cursor: pointer;
    transition: 0.3s;
}

.support .support1 p button:hover {
    background-color: #ddd;
}

@media screen and (max-width: 768px) {
    .support {
        margin: 0;
        height: calc(100vh - 171px);
        display: inline-block;
        padding-top: 7vh;
    }

    .support .support1 {
        width: 95%;
        padding-top: 20px;
    }
    .support .support1 h1 {
        font-size: 5vw;
        margin-bottom: 4vw;
        margin-left: 2vw;
    }

    .support .support1 p {
        color: #ddd;
        margin-top: 2vw;
    }

    .support .support1 p button {
        border: none;
        background-color: #ececec;
        border-radius: 15px;
        padding: 0.8vw;
        font-size: 2vw;
        cursor: pointer;
        transition: 0.3s;
    }
}
