.support {
    width: 100%;
    height: 100%;
    flex-basis: 85%;
}

.support .support1 {
    width: 85%;
    margin: auto;
    box-sizing: border-box;
    padding-top: 40px;
}

.support .support1 h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.7vw;
    padding-bottom: 2vw;
}

.support .support1 .supportText {
    font-size: 1.3vw;
    color: #696969;
    position: relative;
}

.support .support1 .supportText::before,
.support .support1 .supportText::after {
    content: '';
    position: absolute;
    top: 50%;
    height: 1px;
    background-color: #696969;
}

.support .support1 .supportText::before {
    left: 0;
    width: 6%; /* 왼쪽 선의 길이를 짧게 조정합니다. */
    transform: translateX(-120%) translateY(-50%);
}

.support .support1 .supportText::after {
    right: 0;
    width: 100%; /* 왼쪽 선의 길이를 짧게 조정합니다. */
    transform: translateX(5%) translateY(-50%);
}

.support .support1 p {
    margin-top: 2vw;
}

.support .support1 p button {
    border: none;
    background-color: #ebebeb;
    border-radius: 15px;
    padding: 0.3vw;
    font-size: 0.8vw;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Noto Sans KR', sans-serif;
}

.support .support1 p button:hover {
    background-color: #ddd;
}

.support .support1 .download {
    width: 1.1vw;
    padding-left: 2vw;
}

@media screen and (max-width: 768px) {
    .support {
        margin: 0;
        height: 90vh;
        display: inline-block;
        padding-top: 7vh;
    }

    .support .support1 {
        width: 95%;
        padding-top: 20px;
    }

    .support .support1 h1 {
        font-size: 5vw;
        margin-bottom: 4vw;
        margin-left: 2vw;
    }

    .support .support1 .supportText {
        font-size: 4vw;
    }

    .support .support1 .supportText::before,
    .support .support1 .supportText::after {
        content: '';
        position: absolute;
        top: 50%;
        height: 1px;
        background-color: #696969;
    }

    .support .support1 .supportText::before {
        left: 0;
        width: 6%; /* 왼쪽 선의 길이를 짧게 조정합니다. */
        transform: translateX(-120%) translateY(-50%);
    }

    .support .support1 .supportText::after {
        right: 0;
        width: 90%; /* 왼쪽 선의 길이를 짧게 조정합니다. */
        transform: translateX(1%) translateY(-50%);
    }

    .support .support1 p {
        color: #ddd;
        margin-top: 2vw;
    }

    .support .support1 p button {
        border: none;
        border-radius: 15px;
        padding: 0.8vw;
        font-size: 2.5vw;
        cursor: pointer;
        transition: 0.3s;
    }

    .support .support1 .download {
        width: 2.2vw;
        padding-left: 2vw;
    }
}
