.support {
    margin-bottom: 100px;
    height: calc(100vh - 100px);
    width: 100%;
    flex-basis: 82%;
}

.support .support1 {
    width: 85%;
    height: 80%;
    margin: auto;
    margin-top: 3.5vw;
    box-sizing: border-box;
    padding-top: 40px;
}

.support .support1 h1 {
    font-size: 2vw;
    font-weight: 900;
}

.support .support1 p {
    color: #ddd;
    text-align: center;
    margin-top: 15vw;
}

@media screen and (max-width: 768px) {
    .support {
        margin: 0;
        height: calc(100vh - 171px);
        display: inline-block;
        padding-top: 7vh;
    }

    .support .support1 {
        width: 95%;
        padding-top: 20px;
    }
    .support .support1 h1 {
        font-size: 5vw;
        margin-bottom: 4vw;
        margin-left: 2vw;
    }
}
