.main {
    width: 100%;
}
.main .main1 {
    height: 80%;
    margin: auto;

    box-sizing: border-box;
}

.main .SwiperSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid blue;
    box-sizing: border-box;
}

.main .SwiperSlide img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    border: 1px solid darkorange;
    box-sizing: border-box;
    margin: auto;
}

.main .product {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
}
.main .product > h1 {
    font-size: 2rem;
}

/*사진들 묶은 div컨테이너*/
.main .product .product_container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.main .product .product_container > div {
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .product .product_container > div > a {
    display: block;
    width: 100%;
    max-width: 400px;
    max-height: 20px;
    height: 100%;
    background-color: chocolate;
    box-sizing: border-box; /* 박스 크기 계산 방식 설정 */
}

.main .product .product_container > div > a > img {
    width: 100%;
    height: 100%;
    filter: brightness(1);
    object-fit: contain; /*가로세로 비율 안깨지고 확대 축소 가능*/
    transition: filter 0.3s ease;
}
.main .product .product_container > div > a:hover img {
    filter: brightness(0.7); /* 이미지를 어둡게 */
}
