.main {
    padding: 0 20px;
    height: 100%;
}

.main .SwiperSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    max-width: 1200px; /*수치만 나중에 에쁜걸로 수정*/
    margin: auto; /*가운데정렬*/
}

.main .SwiperSlide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .product {
    padding: 60px 0;
    display: flex;

    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.main .product > h1 {
    font-size: 1.5vw;
}

/*사진들 묶은 div컨테이너*/
.main .product .product_container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 60px;
}
.main .product .product_container > div {
    max-height: 310px;
    border-radius: 15px;
    overflow: hidden;
}

.main .product .product_container img {
    width: 100%;
    height: 100%;
    object-fit: contain; /*가로세로 비율 안깨지고 확대 축소 가능*/
    transition: transform 0.3s ease, filter 0.3s ease;
}
.main .product .product_container > div > a:hover img {
    transform: scale(1.1); /* 이미지를 10% 확대 */
    filter: brightness(0.7); /* 이미지를 어둡게 */
}

.main .footer {
    display: none;
}
