.main {
    padding-top: 80px;
    height: 100vh;
    width: 100%;
}

.main .SwiperSlide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .SwiperSlide img {
    width: 100%;

    object-fit: cover;
    display: block;
}

.main .product > h1 {
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    padding-bottom: 0.7vw;
    padding-top: 3vw;
    margin-bottom: 20px;
    color: rgb(20, 21, 70);
}

/*사진들 묶은 div컨테이너*/
.main .product .product_container {
    display: flex;
    justify-content: center;
}

.main .product .product_container > a {
    border-radius: 15px 15px;
    overflow: hidden;
    filter: brightness(1);
    transition: ease all 0.3s;
    margin-left: 0.9vw;
    margin-right: 0.9vw;
    width: 100%;
    box-shadow: 0px 12px 40px 0px rgba(55, 126, 249, 0.18);
}

.main .product .product_container > a:nth-child(1) {
    margin-left: 115px;
}

.main .product .product_container > a:nth-child(5) {
    margin-right: 115px;
}

.main .product .product_container > a:hover img {
    filter: brightness(0.8);
    transition: all 0.3s ease-in-out;
}

.main .product .product_container > a:hover p {
    color: rgb(253, 147, 47);
}

.main .product .product_container > a > img {
    filter: brightness(1);
    object-fit: cover;
    transition: 0.3s ease;
    width: 100%;
}
.main .product .product_container > div > a:hover img {
    filter: brightness(0.7);
}
.main .product .product_container > a > p {
    font-size: 0.9vw;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(13, 21, 49);
    padding-left: 0.5vw;
    padding-bottom: 0.5vw;
}
.main .product .product_container > a span {
    display: block;
    font-size: 0.8vw;
    font-weight: 600;
}

@media screen and (max-width: 1270px) {
    .main .SwiperSlide img {
        object-fit: contain;
    }
}

@media screen and (max-width: 768px) {
    .main {
        height: 100%;
        display: block; /* 블록 레이아웃 적용 */
    }

    .main .main .SwiperSlide {
        width: 100%;
        align-items: stretch;
        padding-top: 0;
    }
    .main .SwiperSlide img {
        width: 100%;
        max-height: none;
        object-fit: cover;
    }
    .main .product {
        padding-top: 10vw;
    }
    .main .product > h1 {
        font-size: 8vw;
        text-align: center;
    }
    .main .product .product_container {
        flex-direction: column;
        margin: auto;
        width: 70%;
    }
    .main .product .product_container > a {
        margin-left: 0 !important; /* 기존 마진 덮어쓰기 */
        margin-right: 0 !important; /* 기존 마진 덮어쓰기 */
        margin-bottom: 30px; /* 요소 간 간격을 위해 추가 */
    }
    .main .product .product_container > a > img {
        width: 100%;
        object-fit: contain;
    }
    .main .product .product_container > a:hover img {
        filter: none;
        transform: none;
    }

    .main .product .product_container > a > p {
        font-size: 5vw;
        padding-left: 2vw;
        padding-bottom: 1vw;
    }

    .main .product .product_container > a span {
        display: block;
        font-size: 4vw;
        font-weight: 500;
    }
    .main .product .product_container > a:hover img {
        filter: brightness(0.8);
        transition: all 0.3s ease-in-out;
    }
}

@media screen and (max-width: 480px) {
    .main .SwiperSlide img {
        object-fit: contain;
    }
}
