.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav nav {
    display: flex;
}

.nav nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav nav ul:hover a {
    color: #fff;
}

.nav nav ul li {
    position: relative;
    margin-right: 30px; /* 대메뉴 간격 조정 */
    z-index: 9999;
}

.nav nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.8); /* 불투명한 배경색 추가 */
}

.nav nav ul li:hover ul {
    display: block;
}

.nav nav ul li ul li {
    margin-right: 0;
}

.nav nav ul li:hover .subMenu {
    background-color: #263238;
    color: #fff;
}

.nav nav ul li .subMenu {
    background-color: #f0f0f0; /* 소메뉴 배경색 */
    color: #333; /* 소메뉴 폰트 색상 */
}

.nav nav ul li .subMenu li {
    padding: 10px;
}

.nav nav ul li .subMenu a {
    color: inherit; /* 부모 요소(여기서는 li)의 색상을 상속받음 */
}

.nav nav ul li a,
.nav a {
    color: #000;
    padding: 35px;
    font-size: 1.1vw;
    display: block;
}

.nav nav ul li ul li a {
    color: #000; /* 소메뉴 텍스트 색상 */
    white-space: nowrap; /* 줄 바뀜 방지 */
    display: block; /* 블록 요소로 만들어 전체 너비를 차지하게 함 */
    text-align: center; /* 텍스트를 중앙 정렬 */
    padding: 10px 0; /* 상하 패딩을 추가하여 글씨와 경계 사이 여백을 줌 */
    font-size: 0.8vw;
}

.nav nav .hoveredLink:hover {
    color: #fff;
}

.nav nav ul li a {
    transition: color 0.3s ease;
}

/* TopNav.module.css에서 기존 스타일에 추가 */

.hoveredLink {
    color: #fff; /* 변경하고 싶은 색상 코드 */
    transition: color 0.5s ease; /* 부드러운 색상 전환 효과 */
    background-color: transparent;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav nav ul {
        flex-direction: column;
        width: 100%;
    }

    .nav nav ul li {
        margin-right: 0;
        width: 100%;
    }

    .nav nav ul li ul {
        position: static;
        background-color: transparent;
    }

    .nav nav ul li:hover ul {
        display: none;
    }

    .nav nav ul li ul li {
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.9);
        width: 100%;
    }

    .nav nav ul li ul li a {
        font-size: 1em;
    }

    .nav nav ul li a,
    .nav a {
        padding: 15px 20px;
        font-size: 1em;
    }
}
