.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50; /* 네비게이션 바의 배경색 */
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav nav ul li {
    position: relative;
    margin-right: 30px; /* 대메뉴 간격 조정 */
}

.nav nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

.nav nav ul li:hover ul {
    display: block;
}

.nav nav ul li ul li {
    margin-right: 0;
}

.nav nav a,
a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px 80px;
    display: block;
}

.nav nav ul li ul li a {
    color: #2c3e50; /* 소메뉴 텍스트 색상 */
    white-space: nowrap; /* 줄 바뀜 방지 */
    display: block; /* 블록 요소로 만들어 전체 너비를 차지하게 함 */
    text-align: center; /* 텍스트를 중앙 정렬 */
    padding: 10px 0; /* 상하 패딩을 추가하여 글씨와 경계 사이 여백을 줌 */
}

.nav h1 a {
    color: #1abc9c; /* 로고의 색상 */
    font-size: 1.5rem;
}

.nav a:hover {
    background-color: #34495e;
}
