.nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    height: 80px;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
}

/*로고 스타일*/
.nav > .logo {
    display: block;
    overflow: hidden;
    max-height: 72px;
    margin-left: 30px;
    width: 5%;
    min-width: 60px;
}
.nav > .logo > img {
    object-fit: cover;
    width: 100%;
    max-width: 78px;
    height: 100%;
    transform: translateY(4px);
}

/*햄버거 버튼 스타일링*/
.hamburger {
    display: none;
    position: fixed;
    top: 20px;
    right: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1000;
}
.hamburger input {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    opacity: 0;
}

.hamburger .hamburger_label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.hamburger .hamburger_label > span {
    display: block;
    width: 100%;
    height: 6px;
    background-color: black;
    transition: transform 0.3s, background-color 0.3s;
}

.hamburger_label span:nth-child(1) {
    top: 0;
}

.hamburger_label span:nth-child(2) {
    top: 8px;
}

.hamburger_label span:nth-child(3) {
    top: 16px;
}

.hamburger_checkbox:checked + .hamburger_label span {
    background-color: #ffffff; /* 색상 변경 */
}

.hamburger_checkbox:checked + .hamburger_label span:nth-child(1) {
    transform: rotate(45deg);
    top: 8px;
    position: relative;
}

.hamburger_checkbox:checked + .hamburger_label span:nth-child(2) {
    opacity: 0;
}

.hamburger_checkbox:checked + .hamburger_label span:nth-child(3) {
    transform: rotate(-45deg);
    top: -20px;
    position: relative;
}

/*햄버거 버튼을 누르면 ul 등장*/
.navList.active .navItems {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #262a63d6;
    backdrop-filter: blur(8px);
    z-index: 500;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    display: none;
}
.navList {
    display: flex;
}

.navItems {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px 10px;
}

.navItem {
    position: relative;
    margin: 0;
    font-family: 'ChosunBg', sans-serif;
    font-weight: 600;
}

.navLink {
    color: #1d2d53db;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 35px;
    transition: color 0.3s ease;
}

.navLink:hover {
    color: #f1c40f;
}

.navItem:hover .subMenu {
    display: block;
}

.subMenu {
    width: 100%;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background-color: #ffffff;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    z-index: 9999;
}

.subMenuItem {
    border-top: none;
    padding: 10px;
    font-family: 'ChosunBg', sans-serif;
    font-weight: 100;
}

.subMenuLink {
    text-align: center;
    display: block;
    color: #464972;
    text-decoration: none;
    transition: color 0.3s ease;
}

.subMenu li:hover {
    background-color: #f1c40f;
}

@media screen and (max-width: 768px) {
    .nav > .logo {
        margin-left: 0;
    }
    .hamburger {
        display: block;
    }
    .navList {
        display: none;
    }
    .navList.active {
        display: flex;
    }

    .hamburger > span {
        background-color: #262a63;
    }
    .navItems.active + .hamburger:hover {
        color: #eee;
    }

    .navList.active ul a {
        color: #ffffff;
    }
    .navList.active ul a:hover {
        color: rgb(255, 175, 71);
    }

    .navItems {
        flex-direction: column;
        width: 100%;
        padding-right: 0;
    }

    .navItem {
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .navLink {
        padding: 0;
        font-size: 1.6rem;
    }

    .subMenu {
        position: static;
        background-color: transparent;
        display: none;
    }

    .subMenu.active {
        display: flex;
        flex-direction: column;
    }
    .navList.active .navItems {
        display: flex;
    }
    .subMenuItem {
        padding: 5px 10px;
        border: none;
    }
}
