.About {
    margin-bottom: 100px;
    height: calc(100vh - 100px);
    width: 100%;
    flex-basis: 82%;
    justify-content: center;
    align-items: center;
}

.About .about1 {
    width: 85%;
    height: 80%;
    margin: auto;
    margin-top: 3.5vw;
    box-sizing: border-box;
    padding-top: 40px;
}

.About .about1 h1 {
    font-size: 2vw;
    margin-bottom: 2vw;
}
.About .about1 .alltext {
    display: inline-block;
    box-sizing: border-box;

    margin: auto;
}

.About .about1 .alltext h2 {
    font-size: 1.5vw;
    margin-left: 5vw;
    margin-bottom: 2vw;
}

.About .about1 .alltext p {
    font-size: 0.95vw;
    line-height: 2.1;
    padding-bottom: 2vw;
    margin-left: 5vw;
    width: 70%;
    text-align: center;
    white-space: wrap;
}

.About .about1 .alltext .RightText {
    font-size: 0.95vw;
    font-weight: bold;
    margin-left: 44vw;
    width: 10vw;
    text-align: left;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .About {
        width: 100%;
        margin: 0;
        height: calc(100vh - 171px);
        justify-content: flex-start;
        align-items: flex-start;
        display: inline-block;
        padding-top: 2vh;
    }

    .About .about1 {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .About .about1 h1 {
        font-size: 5vw;
        margin-bottom: 4vw;
        padding-top: 40px;
        margin-left: 2vw;
    }

    .About .alltext {
        width: 80%;
    }

    .About .about1 .alltext h2 {
        font-size: 3.2vw;
        margin-left: 2vw;
        margin-bottom: 4vw;
    }

    .About .about1 .alltext p {
        font-size: 2.1vw;
        line-height: 1.8;
        margin-left: 8vw;
        width: 95%;
        text-align: left;
    }

    .About .about1 .alltext .RightText {
        font-size: 2.1vw;
        margin-left: 8vw;
        width: 28%;
        text-align: left;
        line-height: 1.3;
    }
}
