.Contact {
    margin-bottom: 100px;
    height: calc(100vh - 100px);
    width: 100%;
    flex-basis: 82%;
}

.Contact .Contact1 {
    width: 85%;
    height: 80%;
    margin: auto;
    margin-top: 3.5vw;
    box-sizing: border-box;
    padding-top: 40px;
}

.Contact .Contact1 h1 {
    font-size: 2vw;
    margin-bottom: 100px;
}

.Contact .Contact1 .ContactText {
    display: inline-block;
    position: relative;
    top: 8vw;
}

.Contact .Contact1 .ContactText h3 {
    font-size: 1.3vw;
    margin-bottom: 1vw;
}

.Contact .Contact1 .ContactText p {
    font-size: 1.1vw;
    line-height: 1.2;
}
