.History {
    margin-bottom: 100px;
    height: calc(100vh - 100px);
    width: 100%;
    flex-basis: 82%;
}
.History h1 {
    width: 85%;
    margin: auto;
    margin-top: 3.5vw;
    box-sizing: border-box;
    padding-top: 40px;
    font-size: 2.1vw;
    margin-bottom: 2vw;
}
.History > img {
    width: 70%;
    margin-left: 10vw;
}

@media screen and (max-width: 768px) {
    .History {
        margin: 0;
        height: calc(100vh - 500px);
        padding-top: 20vh;
    }

    .History > img {
        width: 100%;
        margin: 0;
        margin-top: 10vw;
    }

    .History h1 {
        font-size: 5vw;
        margin-bottom: 4vw;
        margin-left: 2vw;
    }
}
