.History {
    margin-top: 4vh;
    background-color: lightblue;
    margin-left: 19vw;
    height: 87vh;
}

.History > img {
    width: 60vw;
    padding: 1.5vw 10vw;
}

.History .footer {
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-between;
}

.History .footer p {
    padding-top: 1.3vw;
    padding-bottom: 1.2vw;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
}
