.product {
    background-color: #fbfbff;
    flex: 1;
    padding-top: 80px;
}

.product a {
    color: #000;
}

.product .big {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.product .big .textblack {
    color: #000;
}

.product .big img {
    width: 100%;
    height: auto;
}
.product .big h2 {
    font-family: 'ChosunBg', sans-serif;
    font-weight: 600;
    font-size: 2.7vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.product .big p {
    font-size: 1.2vw;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.product .menu {
    position: relative;
    top: -40px; /* 메뉴바를 위로 겹치게 조정 */
    z-index: 10; /* 다른 요소들 위에 겹치도록 설정 */
    background-color: #ffffff; /* 메뉴바 배경색 */
    width: calc(100% - 30%);
    margin: 0 auto;
    border: 1px solid #000; /* 테두리 추가 */
    box-sizing: border-box;
    margin-bottom: 70px;
}

.product .menu ul {
    list-style: none;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.product .menu ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 20px;
    font-size: 0.9rem;
    font-family: 'Noto Sans KR', sans-serif;
    transition: 0.3s;
}

.product .menu ul li:hover a {
    color: #a3a3a3;
}

.product .sec {
    width: 100%;
    padding-bottom: 70px;
}
.product .sec ul {
    width: 69%;
    display: flex;
    gap: 120px;
    margin: auto;
    list-style: none;
    flex-wrap: wrap;
    height: 100%;
}
.product .sec ul > li {
    width: calc((100% - 240px) / 3);
}

.product .sec ul > li:hover img {
    scale: 1.05;
}

.product .sec ul > li > a {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.product .sec .image {
    width: 100%;
    max-height: 40px;
    padding-bottom: 80%; /* 16:9 비율을 유지하도록 설정 */
    overflow: hidden;
    position: relative;
}

.product .sec .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease all 0.3s;
}

.product .sec .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px 0;
    gap: 10px;
    border-top: 1px solid #dfdcdc36;
}

.product .sec h2 {
    text-align: left;
    font-size: 1.2vw;
    margin: auto;
}

.product .sec p {
    margin: 0 auto;
    font-weight: 400;
    word-break: break-all;
    text-align: justify;
    line-height: 1.5;
    font-size: 0.8vw;
    font-family: 'Noto Sans KR', sans-serif;
}

/*맨 위로*/
.product .up {
    bottom: 25px;
    right: 25px;
    position: fixed;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    transition: opacity 0.5s ease-in-out;
}

.product .up:hover {
    background-color: #f1c40f;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .product {
        padding-top: 8.7vh;
    }

    .product .big {
        flex-direction: column;
        align-items: flex-start;
    }

    .product .big img {
        width: 100%;
    }

    .product .big h2 {
        font-size: 2.3vw;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5px;
    }

    .product .big p {
        font-size: 1.8vw;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5px;
    }

    .product .menu {
        width: 100%;
        top: auto;
        margin-bottom: 30px;
    }

    .product .menu ul {
        list-style: none;
        margin: 0 auto;
        display: flex; /* flexbox로 변경 */
        flex-direction: row; /* 가로 정렬 */
        justify-content: space-between;
        align-items: center;
        padding: 2vw;
    }

    .product .menu ul li {
        padding: 0;
        display: flex;
        align-items: center; /* 수직 정렬 */
    }

    .product .menu ul li a {
        padding: 1vw;
        font-size: 2vw;
        line-height: 1; /* 수직 정렬 조정 */
    }

    .product .sec {
        gap: 30px;
        width: 100%;
    }

    .product .sec ul {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    .product .sec ul > li {
        width: 80%;
    }

    .product .sec ul > li > a {
        margin: auto;
        max-width: 360px;
    }

    .product .sec h2 {
        font-size: 4vw;
        text-align: center;
        margin-bottom: 20px;
    }

    .product .sec p {
        font-size: 3vw;
        text-align: center;
        word-break: keep-all;
        text-align: justify;
    }

    .product .up {
        width: 40px;
        bottom: 15px;
        right: 15px;
    }

    .product .big h2 {
        font-size: 4vw;
    }

    .product .big p {
        font-size: 1.8vw;
    }
}
