.product {
    width: 100%;
    height: calc(100vh - 100px);
}

.product .big {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.product .big .textblack {
    color: #000;
}

.product .big img {
    width: 100%;
    height: auto;
}
.product .big h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.product .big p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.product .menu {
    position: relative;
    top: -40px; /* 메뉴바를 위로 겹치게 조정 */
    z-index: 10; /* 다른 요소들 위에 겹치도록 설정 */
    background-color: #ffffff; /* 메뉴바 배경색 */
    width: calc(100% - 30%);
    margin: 0 auto;
    border: 1px solid #000; /* 테두리 추가 */
    box-sizing: border-box;
    margin-bottom: 70px;
}

.product .menu ul {
    list-style: none;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.product .menu ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 20px;
    /* border: 1px solid red; */
}

.product .menu ul .li:hover a {
    transition: 0.3s;
    color: #ddd;
}

.product .sec {
    text-align: center; /* 텍스트를 가운데 정렬합니다. */
    display: flex; /* Flexbox 레이아웃을 사용합니다. */
    flex-direction: column; /* 요소들을 수직으로 정렬합니다. */
    align-items: stretch; /* 가로축 기준으로 가운데 정렬합니다. */
    justify-content: space-between; /* 세로축 기준으로 가운데 정렬합니다. */
    gap: 70px; /* 이미지와 텍스트 사이의 여백을 설정합니다. */
    width: calc(100% - 30%);
    margin: 0 auto;
}

.product .sec .background {
    background-color: #ddd;
    width: calc(100vw - 20px);
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    padding: 70px 0;
}

.product .sec2,
.product .sec4 {
    text-align: center; /* 텍스트를 가운데 정렬합니다. */
    display: flex; /* Flexbox 레이아웃을 사용합니다. */
    align-items: center; /* 가로축 기준으로 가운데 정렬합니다. */
    justify-content: space-between; /* 세로축 기준으로 가운데 정렬합니다. */
    width: calc(100% - 30%);
    margin: 0 auto;
}

.product .sec .sec1,
.sec2,
.sec3,
.sec4 {
    display: flex; /* Flexbox를 사용하여 내부 요소들을 가로로 정렬 */
    align-items: center; /* 이미지와 텍스트를 세로 중앙에 위치시킴 */
    justify-content: space-between;
}

.product .sec .sec1 img,
.sec2 img,
.sec3 img,
.sec4 img {
    width: 35%;
}

/* 텍스트 컨테이너에 대한 스타일이 필요하다면 추가 */
.product .sec .tex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
}

.product .sec h2 {
    margin-bottom: 50px;
    text-align: left;
    font-size: 2vw;
}

.product .sec p {
    text-align: left;
    font-size: 1.3vw;
}

.product .sec .sec2,
.sec4 {
    background-color: #ddd;
}

.product .sec .sec1 h2,
.product .sec .sec3 h2,
.product .sec .sec1 p,
.product .sec .sec3 p {
    text-align: right;
    width: 100%;
}

.product .up {
    position: absolute;
    bottom: 25px;
    right: 25px;
    position: fixed;
    width: 50px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
