.product .big img {
    width: 100%;
    height: auto;
}
.product .big h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.product .big p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.product .menu {
    position: relative;
    top: -40px; /* 메뉴바를 위로 겹치게 조정 */
    z-index: 10; /* 다른 요소들 위에 겹치도록 설정 */
    background-color: #ffffff; /* 메뉴바 배경색 */
    padding: 10px 0;
    width: 70%; /* 메뉴바 가로 크기 조정 */
    margin: 0 auto; /* 중앙 정렬 */
    border: 1px solid #000; /* 테두리 추가 */
}

.product .menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.product .menu ul li {
    margin: 0 20px;
}

.product .menu ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.product .menu ul li:hover a {
    transition: 0.3s;
    color: #ddd;
}

.product .sec {
    text-align: center; /* 텍스트를 가운데 정렬합니다. */
    display: flex; /* Flexbox 레이아웃을 사용합니다. */
    flex-direction: column; /* 요소들을 수직으로 정렬합니다. */
    align-items: center; /* 가로축 기준으로 가운데 정렬합니다. */
    justify-content: center; /* 세로축 기준으로 가운데 정렬합니다. */
    gap: 50px; /* 이미지와 텍스트 사이의 여백을 설정합니다. */
}

.product .sec .sec1,
.sec2,
.sec3,
.sec4 {
    display: flex; /* Flexbox를 사용하여 내부 요소들을 가로로 정렬 */
    align-items: center; /* 이미지와 텍스트를 세로 중앙에 위치시킴 */
    justify-content: space-between;
}

.product .sec .sec1 img,
.sec2 img,
.sec3 img,
.sec4 img {
    width: 30%;
    height: auto;
}

/* 텍스트 컨테이너에 대한 스타일이 필요하다면 추가 */
.product .sec .tex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
}

.product .sec h2 {
    margin-bottom: 50px;
    text-align: left;
}

.product .sec p {
    text-align: left;
}

.product .sec .sec2,
.sec4 {
    background-color: #fff;
}
