.subnav {
    display: flex;
    flex-direction: column;
    width: 200px; /* 사이드바의 너비 */
    height: 100vh;
    padding: 20px;
    background-color: #fff;
    position: fixed; /* 화면에 고정 */
    align-items: center;
    text-align: center;
}

.subnav nav .logo {
    margin-bottom: 20px;
}

.subnav nav .menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.subnav nav .menu li {
    position: relative;
    margin-bottom: 10px;
}

.subnav nav .menu li ol {
    padding-left: 20px;
    margin-top: 5px;
}

.subnav nav .menu a {
    text-decoration: none;
    color: black;
    padding: 5px 0;
    display: block;
    position: relative; /* ::before 가상 요소를 위한 상대 위치 */
}

.subnav nav .menu a:hover {
    color: #dadada;
}
