.subnav {
    background-color: lightblue;
    height: 100vh;
    width: 13vw;
    float: left;
    padding: 1%;
}

.logo {
    background-color: lightcoral;
    width: 200px;
    height: 80px;
    margin: auto;
}

.menu {
    background-color: gray;
    margin-top: 2vh;
    font-size: 1.2rem;
}
