.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* 배경색 추가 */
    color: #fff; /* 글자색 추가 */
    padding: 0.5rem 1rem;
}

.nav_links {
    list-style: none;
    display: flex;
    margin: 0; /* 리스트의 기본 마진 제거 */
    padding: 0; /* 리스트의 기본 패딩 제거 */
}

.nav_links li {
    padding: 0 20px; /* 기존 100px에서 변경 */
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit; /* a 태그가 상속받은 색상을 사용하도록 함 */
}
