.subnav {
    background-color: #fff;
    flex-basis: 15%;
    border-right: 1px solid #e9e9e9;
    width: 85%;
    height: 100vh;
}

.subnav > .logo {
    display: block;
    overflow: hidden;
    max-height: 30vw;
    margin-left: 5.7vw;
    margin-top: 2vw;
}
.subnav > .logo > img {
    object-fit: cover;
    width: 100%;
    max-width: 4.5vw;
    height: 100%;
    transform: translateY(4px);
}

.subnav nav {
    background-color: rgb(255, 255, 255);
}

.subnav nav .menu {
    margin-top: 10vh;
    font-size: 1.1rem;
}

.subnav nav .menu li {
    list-style: none;
}
.subnav nav .menu li .mainMenuItem {
    text-align: center;
    color: #000;
    font-size: 1.4vw;
    font-weight: 900;
    text-decoration: none; /* 텍스트 밑줄을 제거합니다. */
    display: block; /* 링크가 블록 요소처럼 동작하도록 설정합니다. */
    list-style: none;
    margin-bottom: 1.8vw;
}

.subnav nav .menu li ol li {
    list-style: disc;
    margin-left: 4.5vw;
    margin-bottom: 1.5vw;
    border-right: none;
}

.subnav nav .menu li ol li .subMenuItem {
    text-decoration: none;
    color: #000;
    font-size: 0.8vw;

    font-weight: 600;
}

.subnav nav .menu li ol:last-child {
    border-bottom: 1px solid #ddd;
    width: 80%;
    margin: 1.2vw auto;
}

.subnav nav .menu li:last-child ol {
    border-bottom: none;
}
